<h1>Antifragility</h1>

<p>Organizations are analogous to living systems. In some ways, they <em>are</em> living systems. And living systems are <a href="https://en.wikipedia.org/wiki/Antifragile">antigragile</a>, which means they become stronger with a little bit of measured mishandling.</p>

<p>Muscles are a great example because everyone understands working out. You work and tear your muscles at the gym, and in response they grow stronger. Too much, and you injure a muscle and set yourself back. Too little, and there in no gain.</p>

<p>As with a gym routine, leadership must hit the organization's sweet spot in order to make progress. Answering these questions will help provide a tiny bit of guidance as to what your organization is ready for.</p>

<div class="form_div bump20">
	<%= simple_form_for(@worksheet, html: {class: "form"}) do |f| %>

		<%= f.input :elephant1, label: 'How well are troublemakers tolerated?', hint: '1 means not very well; 10 is very well tolerated.', collection: 1..10, as: :radio_buttons, input_html: {class: 'radio-inline'} %>
		<%= f.input :elephant2, label: 'How honest are debrief or post-mortem meetings?', hint: '1 means not very honest; 10 is very honest.', collection: 1..10, as: :radio_buttons, input_html: {class: 'radio-inline'} %>
		
		<%= f.input :responsible1, label: 'Is there a suggestion box or other method of submitting ideas to improve the business?', as: :radio_buttons %>	
		<%= f.input :responsible2, label: 'Do different departments feel that they can and should collaborate?', as: :radio_buttons %>

		<%= f.input :independent1, label: 'Are promotions ever offered to people who disagree with their bosses?', as: :radio_buttons %>		
		<%= f.input :independent2, label: 'Are small experiments encouraged without approval from higher up?', as: :radio_buttons %>
		
		<%= f.input :develop1, label: 'Is there a cultural expectation of mentorship within the organization?', as: :radio_buttons %>
		<%= f.input :develop2, label: 'Do people have a relatively clear idea of what their path for growth in the organization might look like?', as: :radio_buttons %>
		
		<%= f.input :reflection1, label: 'Are people provided a professional development budget and encouraged to use it for conferences, retreats, training and so on?', as: :radio_buttons %>
		<%= f.input :reflection2, label: 'Does the organization work to assemble diverse teams and perspectives to tackle projects?', as: :radio_buttons %>	
		
		<%= f.input :antifragile, label: 'How bendable are most of the rules and policies in the organization?', hint: '1 means not very bendable; 10 is very bendy.', collection: 1..10, as: :radio_buttons, input_html: {class: 'radio-inline'} %>									

		<%= f.button :submit, 'Finish', class: 'btn btn-success' %>
	
	<% end %>
</div>